body {
  font-family: Verdana, Arial, Helvetica;
  margin: 0;
  color: #333;
}

#save-btn, .edit-btn {
  display: inline;
  border: 2px solid;
  padding: 5px;
  background-color: #de8848;
  color: black;
}

#save-btn:hover, .edit-btn:hover {
  cursor: pointer;
}

.quiet {
  color: #999;
}

#bks {
  margin-top: 28px;
}

.bk {
  line-height: 2em;
  padding: 5px;
}

.bk:hover {
  background-color: #fcf0e7;
}

.bk .edit {
  display: none;
}

.editing .saved {
  display: none;
}

.editing .edit {
  display: block;
}

.cancel {
  font-size: 0.8em;
}

.error {
  margin-bottom: 8px;
  text-align: center;
  width: 352px;
  padding: 5px;
  background-color: #ff9696;
  color: #a60000;
}

#header {
  background-color: #0c756a;
  border-bottom: 3px solid #bc5b13;
  color: white;
  padding: 5px 25px;
  font-weight: bold;
  font-size: 4em;
}

#bkmarks-app {
  padding: 5px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

#footer {
  border-top: 1px solid #e8958c;
  border-bottom: 1px solid #e8958c;
  background-color: #f3d7c2;
  color: #666;
  margin-top: 100px;
  text-align: center;
  list-style-type: square;
}

.controls {
  display: none;
  float: right;
  cursor: pointer;
}

.controls span {
  padding: 5px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
