body {
  font-family: Verdana, Arial, Helvetica;
  margin: 0;
  color: #333;
}

#save-btn, .edit-btn {
  border: 2px solid;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 5px;
  background-color: #de8848;
  color: black;
  text-align: center;
  width: 57%;
  margin-left: auto;
  margin-right: auto;
}

.edit-btn {
  line-height: 1em;
}

#save-btn:hover, .edit-btn:hover {
  cursor: pointer;
}

.quiet {
  color: #999;
}

#bk-list {
  margin-top: 40px;
}

#bks h1 {
  margin-bottom: 7px;
}

.tags {
  font-size: 0.8em;
  line-height: 0.8em;
}

.bk {
  line-height: 2em;
  padding: 5px;
}

.bk:hover {
  background-color: #fcf0e7;
}

.bk .edit {
  display: none;
  background-color: #fcf0e7;
  padding: 8px;
}

.editing .saved {
  display: none;
}

.editing .edit {
  display: block;
}

.error {
  margin-bottom: 8px;
  text-align: center;
  padding: 5px;
  background-color: #ff9696;
  color: #a60000;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#header {
  background-color: #0c756a;
  border-bottom: 3px solid #bc5b13;
  color: white;
  padding: 5px 25px;
  font-weight: bold;
  font-size: 4em;
}

#bkmarks-app {
  text-align: center;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  background-color: white;
}

#footer {
  border-top: 1px solid #e8958c;
  border-bottom: 1px solid #e8958c;
  background-color: #f3d7c2;
  color: #666;
  text-align: center;
  list-style-type: square;
}

.controls {
  display: none;
  float: right;
  cursor: pointer;
}

.controls span {
  padding: 5px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-bottom: 20px;
}

#create-bk {
  display: none;
  background-color: #fcf0e7;
  margin: 8px;
  padding: 8px;
}

#create-bk input {
  margin-bottom: 15px;
}
